#peekabooDiv .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 0, 0, .8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 11;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
}

#peekabooDiv .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 0, 0) transparent transparent transparent;
}

#peekabooDiv:hover .tooltip {
    visibility: visible;
    opacity: 1;
}